<!DOCTYPE html>

<%- include("../partials/head") %>

<body class="container">
  <%- include("../partials/header") %>

  <main>
    <div class="jumbotron">

      <h1>Sobre mim</h1>
      <p>Olá eu sou Emerson, sou desenvolvedor JavaScript.</p>
      <p>Essa página serve para que eu demostre um pouco sobre a minha prática com NodeJS + EJS para a criação de modelagens de páginas HTML renderizadas através do JavaScript</p>
    </div>
  </main>
  
  <%- include("../partials/footer") %>
</body>


</html>