<!DOCTYPE html>

<%- include("../partials/head") %>

<body class="container">
  <%- include("../partials/header") %>

  <main>
    <div class="jumbotron">

      <h1>O que é EJS?</h1>
      <p>
        O EJS é uma engine de visualização, com ele conseguimos de uma maneira fácil e simples transportar dados do back-end para o front-end, basicamente conseguimos utilizar códigos em javascript no html de nossas páginas.
      </p>
      <p>Para ver mais sobre como utilizei essa tecnologia e criei esse mini site é só clicar <a target="_blank" href="https://ejs.co/">aqui</a> e ver a documentação do mesmo.</p>
    </div>
  </main>
  
  <%- include("../partials/footer") %>
</body>
</html>